:root {
     --color-light-idle: #FFF;
     --color-light-hover: #90A4D4;
     --color-dark-idle: #697C9A;
     --color-dark-hover: #222731;

}



.encabezado {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.texto {
    font-weight: 700;
    font-size: 1.625rem;
    flex-direction: start;
}

.icono-comun {
    font-size: 0.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3rem;
    display: flex;
    align-items: center;
}

.icono-comun:hover {
    cursor: pointer;
}

.icono-dark {
    color: var(--color-dark-idle);
}
.icono-dark:hover {
    color: var(--color-dark-hover);
}

.icono-light {
    color: var(--color-light-idle);
}

.icono-light:hover {
    color: var(--color-light-hover);
}

.modo-oscuro {
    .texto {
        color: white;
    }
}